* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.greenColor {
  /* color: green !important; */
  background-color: rgb(115, 197, 115) !important;
}
.redColor {
  background-color: rgb(236, 87, 87) !important;
  /* color: red !important; */
}
.orangeColor {
  background-color: rgb(196, 143, 46) !important;
  /* color: orange !important; */
}
.badge {
  color: white !important;
  padding: 5px 10px;
  border-radius: 10px;
}
button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}
